<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .nobr { white-space: nowrap }
    body {cursor:default;} 
</style>
<body>

    {% if data is not defined %}
    <h2>Choose image</h2>
    <form action="/image" method="post" enctype="multipart/form-data">
        <input type="file"
       id="image" name="image"
       accept="image/png, image/jpeg" onchange="fileUploaded()">
       <br>
       <input id="submit" type="submit" disabled />
    </form>
    {% endif %}
    {% if data is defined %}
        {% if imgdata is not defined %}
        <h4>{{data}}</h4>
        {% endif %}
        {% if imgdata is defined %}
        <ul>
                <div class=nobr>
                <pre>{{data[0]}} <img src="{{imgdata[0]}}" /></pre>
                </div>
           
        </ul>
        {% endif %}
        <button onclick="history.back()">Go Back</button>
    {% endif %}
    <script>
        function fileUploaded(){
            if(document.getElementById("image").value != "") {
                document.getElementById("submit").disabled = false;
            }
        }
    </script>
</body>

</html>